.titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding-top: 0.8rem;
}

#root > nav > div > a {
    display: flex;
    justify-content: center;
    padding-right: 20rem;
    text-decoration: none;
}

#basic-navbar-nav > div {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#basic-navbar-nav > div > a:nth-child(1) {
    color: white;
}

#basic-navbar-nav > div > a:nth-child(2) {
    color: white;
}

#basic-navbar-nav > div > a:nth-child(3) {
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    color: white;
    padding: 15px;
}

.navbar {
    background-color: blueviolet;
    color: white;
}

.navbar-brand {
    display: flex;
    justify-content: space-between;
    color: white;
}

#linknavbar {
    color: white;
}

.brand-titulo {
    color: white;
    margin-bottom: 0;
    padding-left: 8px;
}

.ItemDetailContainer {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.controles {
    display: flex;
    justify-content: space-evenly;
}

#root > div.ItemDetailContainer > div > div.contador > div:nth-child(2) {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.lista-productos {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    gap: 2rem;
}