* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Euclid Circular A', sans-serif;                                         
    }

#root > div > nav {
    background-color: blueviolet;
}

#root > nav > div > a {
    display: flex;
    justify-content: center;
    padding-right: 20rem;
    text-decoration: none;
}

#basic-navbar-nav > div {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    color: white;
    padding: 15px;
}

.navbar {
    background-color: blueviolet;
    color: white;
}

.controles {
    display: flex;
    justify-content: space-evenly;
}

#root > div.ItemDetailContainer > div > div.contador > div:nth-child(2) {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.lista-productos {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    gap: 2rem;
}

#root > div > nav > div.container > a {
    font-weight: 700;
    display: flex;
    color: white;
    text-decoration: none;
}

#root > div > nav > div.container > a > img {
    padding-right: 5px;
    width: 2.5rem;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
}

#root > div > nav > div.me-auto.navbar-nav > a:hover {
    color: rgba(255, 255, 255, 0.923);
}

#root > div > nav > div.me-auto.navbar-nav > a {
    font-weight: 600;
    display: flex;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#root > div > nav > div.me-auto.navbar-nav {
    display: flex;
    justify-content: space-evenly;
    width: 55rem;
    margin: 0;
}

.container-brand {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 5rem;

}

#root > div > nav > div.container > a > div > p:nth-child(1) {
    margin-top: 0;
    margin-bottom: 0;
    font-style: oblique;
    transform-style: flat;
    border-color: black;
}

#root > div > nav > div.container > a > div > p:nth-child(2) {
    margin-top: 0;
    margin-bottom: 0;
    font-style: oblique;
    border-color: black;
}

#root > div > div > div > div > div > div.contador > div:nth-child(2) {
    display: flex;
    justify-content: center;
    padding-block: 1rem;
}

.main-title {
    display: flex;
    padding-bottom: 1.2rem;
    font-size: xx-large;
    font-weight: 700;
}

.main-title-cart {
    display: flex;
    font-size: xx-large;
    font-weight: 700;
}

.productos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}

.boton-vermas:hover {
    color: blueviolet;
    background-color: black;
    transition-duration: 0.5s;
}


.boton-vermas {
    color: white;
    background-color: blueviolet;
    text-decoration: none;
    border-width: 1.6px;
    border-style: outset;
    border-color: black;
    font-weight: 500;
    padding: 0.4rem;
    border-radius: 0.4rem;
}

.button {
    color: white;
    background-color: blueviolet;
    font-weight: 500;
    padding: 0.4rem;
    border-radius: 0.4rem;
}

#root > div > div > div > div > div > div.contador > div:nth-child(2) > a {
    color: white;
    background-color: blueviolet;
    text-decoration: none;
    border-width: 1.6px;
    border-style: outset;
    border-color: black;
    font-weight: 500;
    padding: 0.4rem;
    border-radius: 0.4rem;
}

#root > div > div > div > div > div > div.contador > div.controles > p {
    font-size: x-large;
    margin-bottom: 0;
    font-weight: 500;
}

#root > div > div > div > div > div > div.card-body > div {
    font-size: x-large;
    font-weight: 600;
}

.boton-vermas2 {
    color: white;
    background-color: blueviolet;
    text-decoration: none;
    border-width: 1.6px;
    border-style: outset;
    border-color: black;
    font-weight: 500;
    padding: 0.4rem;
    border-radius: 0.4rem;
    margin-bottom: 3rem;
    margin-left: 1.5rem;
}

.boton-vermas2:hover {
    color: blueviolet;
    background-color: black;
    transition-duration: 0.5s;
}

#root > div > div > div > button {
    background-color: blueviolet;
}

#root > div > nav > div.me-auto.navbar-nav > a:nth-child(5) {
    font-weight: 800;
    font-size: large;
}

.container-orders {
    min-height: 720px;
    display: grid;
    place-items: center;
}

.container-cart {
    min-height: 720px;
    width: 500px;
    padding-left: 8rem;
    padding-block: 2.5rem;
}

.container-productos {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    padding-top: 3rem;
    min-height: 720px;
}