.titulo {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    color: white;
    padding: 15px;
}

.navbar {
    background-color: blueviolet;
    color: white;
}

.navbar-brand {
    display: flex;
    justify-content: space-between;
    color: white;
}

#linknavbar {
    color: white;
}

.brand-titulo {
    color: white;
    margin-bottom: 0;
    padding-left: 8px;
}

.carousel {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.carousel-img {
    height: 100%;
    object-position: center;
    object-fit: cover;
    background-size: cover;
}

.ItemDetailContainer {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.controles {
    display: flex;
    justify-content: space-evenly;
}

#root > div.ItemDetailContainer > div > div.contador > div:nth-child(2) {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.lista-productos {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    gap: 2rem;
}